@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playpen+Sans+Arabic:wght@100..800&display=swap');

:root {
    --primary-gray: #F7F7F7;
    --primary-light-purple: #EEEFFB;
    --primary-light-purple-2: #F2F0FF;
    --primary-line-light-purple: #E7E6EF;
    --primary-pink: #FB2E86; 
    --primary-mid-gray: #8A8FB9;
    --primary-level-black:  #0D0E43;
    --primary-navy-blue:#151875;
    --primary-gray2:#1A0B5B4D;
    --primary-gray3: #72718F;
    --primary-gray4: #F6F7FB;
    --primary-navy-blue-opacity-5: rgb(49 32 138/5%);
    --primary-navy-blue-opacity-30:rgb(21 24 117/30%);
    --primary-green:#08D15F;
    --primary-dark-blue:#00009D;
    --primary-pinky-red:#F701A8;
    --primary-green2:#05E6B7;
    --primary-yellow:#FFEAC1;
}

.capitalize {
    text-transform: capitalize;
}

.bg-green2{
   background-color: var(--primary-green2);
}

.bg-pinky-red {
    background-color: var(--primary-pinky-red);
}

.bg-dark-blue {
    background-color: var(--primary-dark-blue);
}

.bg-yellow {
    background-color: var(--primary-yellow);
}

.text-navy-blue{
    color: var(--primary-navy-blue);
}

.text-navy-blue-opacity-30{
    color: var(--primary-navy-blue-opacity-30);
}

.bg-navy-blue-opacity-5{
    color: var(--primary-navy-blue-opacity-5)
}

.box-shadow{
    box-shadow: 1px 1px 8px var(--primary-gray2) ;
}

.bg-gray4{
    color: var(--primary-gray4)
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.text-gray3 {
    color: var(--primary-gray3);
}

.text-black{
    color: var(--primary-level-black)
}
.text-pink {
    color: var(--primary-pink);
}

.text-gray {
    color: var(--primary-mid-gray)
}

.text-gray2 {
    color: var(--primary-gray2)
}

.bg-pink {
    background-color: var(--primary-pink);
}

.lato-200 {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.lato-300 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold-600 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lato-bold-700 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.josefin-sans-bold-600 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.josefin-sans-bold-700 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.josefin-sans-bold-500 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.josefin-sans-bold-400 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.align-items-start {
    display: flex;
    align-items: start;
}

.line-through {
    text-decoration: line-through;
    text-decoration-thickness: 0.5px;
}

.margin-auto{
    margin: auto;
}

.relative{
    position: relative;
}