/* start public style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--primary-level-black);
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1400px;
    padding: 0 100px;
}

/* end public style */

.logo {
    width: 98px;
    height: 34px;
    padding: 3px;
}

.nav {
    padding: 20px 0;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.nav ul {
    display: flex;
    gap: 35px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.nav input {
    border: 2px solid var(--primary-line-light-purple);
    border-right: 0;
}

.nav button {
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

.nav form {
    display: flex;
}

.right-side {
    display: flex;
    gap: 165px;
    align-items: center;
}

.nav .list a:hover {
    text-decoration: underline;
    background-color: var(--primary-light-purple);
    padding: 10px 0px;
    transition: padding 1s;
    border-radius: 5px;
}

svg {
    display: none;
}

i {
    display: none;
}

/* ========================= footer section ================================= */

footer {
    background-color: var(--primary-light-purple);
    padding: 50px 0;
}

footer form {
    display: flex;
}

footer input {
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 10px 20px;
    opacity: 45%;
}

footer button {
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    color: white;
}

footer .address {
    color: var(--primary-mid-gray);
    font-size: 16px;
}

footer input::placeholder {
    color: var(--primary-mid-gray);
}

footer .right-footer {
    width: calc(60%);
}

footer .footer-item a:not(.main) {
    color: var(--primary-mid-gray);
    font-size: 16px;
    line-height: 45px;
}

footer .main {
    font-size: 22px;
    line-height: 70px;
}

footer .left-footer {
    width: calc(40%);
    line-height: 35px;
}

footer .logo {
    margin-bottom: 40px;
    margin-top: 10px;
}

footer .search-form {
    margin-bottom: 20px;
}

footer .row {
    gap: 50px;
}

/* ========================= hero section ================================= */

hero {
    width: 100%;
}

.hero .container {
    background-color: var(--primary-light-purple-2);
    width: 100%;
    padding-top: 140px;
    padding-bottom: 180px;
    margin: auto;
}

.hero .row {
    align-items: center;
    gap: 10px;
}

.hero .left-hero button {
    border: none;
    padding: 16px 30px;
    color: white;
    border-radius: 2px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
}

.hero .left-hero {
    width: calc((100% - 100px)/2);
}

.hero .left-hero p:not(.main-sentence) {
    font-size: 14px;
    line-height: 25px;
}

.hero .left-hero .main-sentence {
    font-size: 40px;
    line-height: 70px;
}

.hero .right-hero {
    width: calc((100% - 100px)/2);
}

.hero .right-hero img {
    width: 120%;
    height: 120%;
}

/* ========================= shopix offer section ================================= */

.shopix-offer .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shopix-offer .col {
    gap: 55px
}

.shopix-offer .container .top-section {
    display: flex;
    font-size: 42px;
    justify-content: center;
}

.shopix-offer .service-items {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 25px;
    box-shadow: -2px 4px 10px rgb(49 32 138/5%);
    gap: 20px
}

.shopix-offer .bottom-section img {
    width: 30%;
    height: 30%;
}

.shopix-offer .bottom-section p {
    font-size: 16px;
    opacity: 80%;
}

.shopix-offer .bottom-section h3 {
    font-size: 20px;
}

.shopix-offer .bottom-section {
    gap: 5px;
    display: flex;
    justify-content: space-between;
}





/* ========================= media query section ================================= */

@media screen and (min-width:0) and (max-width:650px) {

    .nav .search-form,
    .nav .list {
        display: none;
    }

    svg {
        display: block;
        margin: auto;
    }

    i {
        display: block;
    }

    footer .left-footer,
    footer .right-footer {
        width: 100%;
    }

    footer .row {
        display: flex;
        flex-direction: column;
    }

    footer .left-footer .address {
        font-size: 12px
    }

    footer .container {
        padding: 0 70px;
    }

    .nav .container {
        margin: auto;
        padding: 0 100px;
        gap: 70px;
    }

    .hero .row {
        display: flex;
        flex-direction: column;
    }

    .hero .right-hero img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: auto;
    }

    .hero .container {
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero .left-hero,
    .hero .right-hero {
        width: 100%;
    }

    .hero .left-hero button {
        width: 100%;
    }

    .hero .row {
        gap: 50px;
    }

    .shopix-offer .bottom-section {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .shopix-offer .service-items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: -2px 4px 10px rgb(49 32 138 / 5%);
    }



}