/* start public style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--primary-level-black);
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1400px;
    padding: 0 100px;
}

/* end public style */

.logo {
    width: 98px;
    height: 34px;
    padding: 3px;
}

.nav {
    padding: 20px 0;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.nav ul {
    display: flex;
    gap: 35px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.nav input {
    border: 2px solid var(--primary-line-light-purple);
    border-right: 0;
}

.nav button {
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

.nav form {
    display: flex;
}

.right-side {
    display: flex;
    gap: 165px;
    align-items: center;
}

.nav .list a:hover {
    text-decoration: underline;
    background-color: var(--primary-light-purple);
    padding: 10px 0px;
    transition: padding 1s;
    border-radius: 5px;
}

svg {
    display: none;
}

i {
    display: none;
}

/* ========================= footer section ================================= */

footer {
    background-color: var(--primary-light-purple);
    padding: 50px 0;
}

footer form {
    display: flex;
}

footer input {
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 10px 20px;
    opacity: 45%;
}

footer button {
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    color: white;
}

footer .address {
    color: var(--primary-mid-gray);
    font-size: 16px;
}

footer input::placeholder {
    color: var(--primary-mid-gray);
}

footer .right-footer {
    width: calc(60%);
}

footer .footer-item a:not(.main) {
    color: var(--primary-mid-gray);
    font-size: 16px;
    line-height: 45px;
}

footer .main {
    font-size: 22px;
    line-height: 70px;
}

footer .left-footer {
    width: calc(40%);
    line-height: 35px;
}

footer .logo {
    margin-bottom: 40px;
    margin-top: 10px;
}

footer .search-form {
    margin-bottom: 20px;
}

footer .row {
    gap: 50px;
}

/* ========================= hero section ================================= */

hero {
    width: 100%;
}

.hero .container {
    background-color: var(--primary-light-purple-2);
    width: 100%;
    padding-top: 140px;
    padding-bottom: 180px;
    margin: auto;
}

.hero .row {
    align-items: center;
    gap: 10px;
}

.hero .left-hero button {
    border: none;
    padding: 16px 30px;
    color: white;
    border-radius: 2px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
}

.hero .left-hero {
    width: calc((100% - 100px)/2);
}

.hero .left-hero p:not(.main-sentence) {
    font-size: 14px;
    line-height: 25px;
}

.hero .left-hero .main-sentence {
    font-size: 40px;
    line-height: 70px;
}

.hero .right-hero {
    width: calc((100% - 100px)/2);
}

.hero .right-hero img {
    width: 120%;
    height: 120%;
}

/* ========================= featured products section ================================= */

.featured .product-items {
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featured .product-items button{
    display: none;
}

.featured .product-items:hover button{
    display: block;
    position: absolute;
    cursor: pointer;
    bottom: 140px;
    background-color: var(--primary-green);
    border: 0;
    padding: 8px 13px;
    color: white;
    border-radius: 2px;
}

.featured .product-items:hover .icon{
    background-color: var(--primary-gray);
}

.featured .product-items:hover .icons{
    display: inline-flex;
}

.featured .price {
    font-size: 14px;
}

.featured .top-section p{
    font-size: 30px;
}

.featured .bottom-section img:not(.resize, .resize2) {
    width: 100%;
    height: 100%;
    background-color: var(--primary-navy-blue-opacity-5);
}

.featured .bottom-section .resize{
    width: 86%;
    height: 100%;
    background-color: var(--primary-navy-blue-opacity-5);

}

.featured .bottom-section .resize2{
    width: 100%;
    /* height: 600%; */
    align-items: center;
    padding: 38px 0;
    background-color: var(--primary-navy-blue-opacity-5);
}

.featured .bottom-section:hover img{
    background-color: var(--primary-gray);
    cursor: pointer;
}

.featured .product-items:hover{
    background-color: var(--primary-gray);
    cursor: pointer;
}

.featured .color{
    width: 14px;
    height: 4px;
    border-radius: 10px;
}

.featured .colors{
   gap: 5px;
   justify-content: center;
}

.featured .icons{
    position: absolute;
    left: 3px;
    gap: 14px;
    justify-content: center;
    display: none;
 }

 .featured .icon{
    cursor: pointer;
    border-radius: 100%;
 }

.featured .bottom-section .details {
    gap: 12px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.featured .product-items:hover .details {
    background-color: var(--primary-dark-blue);
    cursor: pointer;
}

.featured .product-items:hover .details .bg-dark-blue{
    background-color: var(--primary-yellow);
}

.featured .product-items:hover .details .code{
    color: white;
    font-weight:900;
    -webkit-text-stroke: 0.05rem black;
}

.featured .product-items:hover .details .price p , .featured .product-items:hover .details .title {
    color: white;
}

.featured .container .top-section {
    display: flex;
    font-size: 42px;
    justify-content: center;
}

.featured  .container {
    padding-bottom: 120px;
    padding-top: 120px;
}


.featured .bottom-section {
    padding-top: 30px;
    justify-content: space-around;    
}

/* ========================= leatest products section ================================= */

.leatest .product-items {
    width: 30%;
    height: 100%;
    padding: 10px;
}

.leatest .product-items .icon:hover{
    width: 100%;
    height: 100%;
    background-color: var(--primary-navy-blue-opacity-5);
}

.leatest .product-items:hover .icons{
    display: inline;
    
    width: 9%;
}

.leatest .price {
    font-size: 14px;
    gap: 10px;
}

.leatest .top-section{
    align-items: center;
    width: 100%;
    gap: 20px
}

.leatest .top-section .title{
    font-size: 30px;
}

.leatest .top-section .types{
    font-size: 18px;
    gap: 50px;
}

.leatest .top-section .types:not(.first){
    font-size: 18px;
    gap: 50px;
    color: var(--primary-navy-blue);
}

.leatest .top-section .first{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.leatest .bottom-section .main-img{
    width: 70%;
    align-items: center; 
    margin: auto;
    margin-left: 50px;
    height: 100%;
    background-color: white;
}

.leatest .product-items:hover .main-img {
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}

.leatest .product-items:hover .label {
    display: inline-flex;
}

.leatest .product-items:hover {
    cursor: pointer;
}

.leatest .icons {
    width: 100%;
    position: absolute;
    left: 20px;
    bottom:50px;
    gap: 14px;
    justify-content: center;
    align-items: center;
    display: none;
}

 .leatest .icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 100%;
    padding: 7px;
 }

.leatest .bottom-section .details {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.leatest .bottom-section .details h3 {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--primary-gray);
    text-decoration-thickness: 2px ;
}

.leatest .label{
    width: 23%;
    padding: 5px;
    position: absolute;
    top: 25px;
    left: 18px;
    background-color: var(--primary-blue);
    border-radius: 50px 0 50px 0 ;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    transform: rotate(-20deg);
    box-shadow: -4px 4px 4px var(--primary-gray3);
    display: none;
}

.leatest  .container {
    padding-bottom: 120px;
    padding-top: 120px;
}

.leatest .bottom-section {
    padding-top: 30px;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

/* ========================= shopix offer section ================================= */

.shopix-offer .container {
    padding-top: 30px;
    padding-bottom: 120px;
}

.shopix-offer .col {
    gap: 55px
}

.shopix-offer .container .top-section {
    display: flex;
    font-size: 42px;
    justify-content: center;
}

.shopix-offer .service-items {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 25px;
    box-shadow: -2px 4px 10px rgb(49 32 138/5%);
    gap: 20px
}

.shopix-offer .bottom-section img {
    width: 30%;
    height: 30%;
}

.shopix-offer .bottom-section p {
    font-size: 16px;
    opacity: 80%;
}

.shopix-offer .bottom-section h3 {
    font-size: 20px;
}

.shopix-offer .bottom-section {
    gap: 5px;
    display: flex;
    justify-content: space-between;
}

/* ========================= trending products section ================================= */

.trending .product-items {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px 4px 10px rgb(49 32 138/5%);
    gap: 20px;
    padding-bottom: 20px;
}

.trending .price {
    justify-content: space-around;
    font-size: 14px;
}

.trending .top-section p{
    font-size: 30px;
}

.trending .bottom-section img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.trending .bottom-section .details {
    gap: 5px;
}

.trending .container .top-section {
    display: flex;
    font-size: 42px;
    justify-content: center;
}

.trending .container {
    padding-bottom: 120px;
}

.trending .bottom-section {
    padding-top: 30px;
    justify-content: space-around;    
}

/* ========================= top categories section ================================= */

.categories .product-items {
    width: 30%;
    /* height: 28%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.categories .product-items button{
    display: none;
}

.categories .product-items:hover button{
    display: block;
    position: absolute;
    cursor: pointer;
    top: 170px;
    background-color: var(--primary-green);
    border: 0;
    padding: 8px 13px;
    color: white;
    border-radius: 2px;
}

.categories .price {
    justify-content: space-around;
    font-size: 14px;
}

.categories .top-section p{
    font-size: 30px;
}

.categories .bottom-section img {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background-color: var(--primary-navy-blue-opacity-5);
    padding: 40px;
    box-shadow: -2px 4px 10px rgb(49 32 138/5%);
}

.categories .bottom-section img:hover{
    box-shadow: -6px 6px 1px var(--primary-navy-blue);
    cursor: pointer;
}

.categories .bottom-section .details {
    gap: 5px;
}

.categories .container .top-section {
    display: flex;
    font-size: 42px;
    justify-content: center;
}

.categories .container {
    padding-bottom: 120px;
}

.categories .bottom-section {
    padding-top: 30px;
    justify-content: space-around;    
}

/* ========================= subscribe section ================================= */

.subscribe{
    background-image: url("../img/Rectangle 102.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300%;
}

.subscribe .col {
    padding: 130px 130px ;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.subscribe .col button{
    border: none;
    padding: 16px 30px;
    color: white;
    border-radius: 2px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
}

.subscribe p{
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

/* ========================= blog section ================================= */

.blog .blogs-items {
    width: 30%;
    height: 28%;
    display: flex;
    flex-direction: column;
    padding: 45px 0px;
    box-shadow: -2px 4px 10px rgb(49 32 138/5%);
    gap: 20px
}

.blog .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.blog .top-section p{
    font-size: 30px;
}

.blog .bottom-section img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.blog .container .top-section {
    display: flex;
    font-size: 42px;
    justify-content: center;
}

.blog a {
    text-align: start;
    text-underline-offset: 3px;
}

.blog a:hover {
    color: var(--primary-pink)
}

.blog .bloger-name {
    gap: 6px;
    display: flex;
}

.blog .date{
    gap: 10px;
    display: flex;
}

.blog .details .row{
    gap: 30px;
}

.blog .details img{
    width: 100%;
    height: 100%;
}

.blog .bloger-name, .blog .date{
    font-size: 13px;
}

.blog .details {
    padding: 0px 20px;
    gap: 15px;
}

.blog h3:hover {
    color: var(--primary-pink);
    cursor: pointer;
}

.blog .bottom-section{
    justify-content: space-between;
}

/* ========================= media query section ================================= */

@media screen and (min-width:0) and (max-width:650px) {

    .nav .search-form,
    .nav .list {
        display: none;
    }

    svg {
        display: block;
        margin: auto;
    }

    i {
        display: block;
    }

    footer .left-footer,
    footer .right-footer {
        width: 100%;
    }

    footer .row {
        display: flex;
        flex-direction: column;
    }

    footer .left-footer .address {
        font-size: 12px
    }

    footer .container {
        padding: 0 70px;
    }

    .nav .container {
        margin: auto;
        padding: 0 100px;
        gap: 70px;
    }

    .hero .row {
        display: flex;
        flex-direction: column;
    }

    .hero .right-hero img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: auto;
    }

    .hero .container {
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero .left-hero,
    .hero .right-hero {
        width: 100%;
    }

    .hero .left-hero button {
        width: 100%;
    }

    .hero .row {
        gap: 50px;
    }

    .shopix-offer .bottom-section {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .shopix-offer .service-items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: -2px 4px 10px rgb(49 32 138 / 5%);
    }

    .subscribe p{
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }

    .subscribe .col {
        padding: 130px 10px ;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .blog .bottom-section{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog .blogs-items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 45px 0px;
        box-shadow: -2px 4px 10px rgb(49 32 138 / 5%);
        gap: 20px;
    }

    .blog .intro{
        display: flex;
        flex-direction: column;
    }

    .blog .intro img{
       width: 10px;
    }

    .trending .bottom-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: space-around;
        gap: 50px;
    }

    .trending .product-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: -2px 4px 10px rgb(49 32 138/5%);
        gap: 20px;
        padding-bottom: 20px;
    }

    .categories .bottom-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: space-around;
        gap: 50px;
    }

    .categories .product-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: -2px 4px 10px rgb(49 32 138/5%);
        gap: 20px;
        padding-bottom: 20px;
    }

    .categories .product-items:hover button{
        display: block;
        position: absolute;
        cursor: pointer;
        top:220px;
        background-color: var(--primary-green);
        border: 0;
        padding: 8px 13px;
        color: white;
        border-radius: 2px;
    }

    .featured .bottom-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: space-around;
        gap: 50px;
    }

    .featured .product-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: -2px 4px 10px rgb(49 32 138/5%);
        gap: 20px;
        padding-bottom: 20px;
    }

    .featured .product-items:hover button{
        display: block;
        position: absolute;
        cursor: pointer;
        /* top:160px; */
        background-color: var(--primary-green);
        border: 0;
        padding: 8px 13px;
        color: white;
        border-radius: 2px;
    }

    .leatest .bottom-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: space-around;
        gap: 50px;
    }

    .leatest .product-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: -2px 4px 10px rgb(49 32 138/5%);
        gap: 20px;
        padding-bottom: 20px;
    }

    .leatest .product-items:hover button{
        display: block;
        position: absolute;
        cursor: pointer;
        /* top:160px; */
        background-color: var(--primary-green);
        border: 0;
        padding: 8px 13px;
        color: white;
        border-radius: 2px;
    }

}